<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Details</title>
</head>
<body>
    <h1>Details of {{one_super.name}}</h1>
        <ul>
            <li>Alter Ego: {{one_super.alter_ego}}</li>
            <li>Primary Power: {{one_super.primary_power}}</li>
            <li>Secondary Power: {{one_super.secondary_power}}</li>
            <li>Catch Phrase: {{one_super.catch_phrase}}</li>
        </ul>
</body>
</html>