<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet"
         integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous"></script>
    <title>Details</title>
</head>
<body>
<div class="container">
 <div class="row justify-content-around">
    <div class="col-4">
     <h1>Details of {{one_super.name}}</h1>
        <ul>
            <li>Alter Ego: {{one_super.alter_ego}}</li>
            <li>Primary Power: {{one_super.primary_power}}</li>
            <li>Secondary Power: {{one_super.secondary_power}}</li>
            <li>Catch Phrase: {{one_super.catch_phrase}}</li>
        </ul>
    </div>
    <div class="col-4">
      <h2>Edit {{one_super.name}}</h2>
        <form action="{% url 'SuperHeroes:details' one_super.id %}" method="post" style="line-height:2em">
            {% csrf_token %}
            Name:<input type="text" name="name" id="name" class="form-control form-control-lg"
                         aria-label=".form-control-lg example" ><br />
            Alter Ego:<input type="text" name="alter_ego" id="alter_ego" class="form-control form-control-lg"
                         aria-label=".form-control-lg example"><br />
            Primary Power:<input type="text" name="primary_power" id="primary_power" class="form-control form-control-lg"
                         aria-label=".form-control-lg example"><br />
            Secondary Power:<input type="text" name="secondary_power" id="secondary_power" class="form-control form-control-lg"
                                   aria-label=".form-control-lg example"><br />
            Catch Phrase:<input type="text" name="catch_phrase" id="catch_phrase" class="form-control form-control-lg"
                         aria-label=".form-control-lg example"><br />
            <input type="submit" value="Edit Super Hero!">
        </form>
    </div>
 </div></div>


</body>
</html>