<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Super Heroes</title>
</head>
<body>
    <h1>Super Heroes Go Here!</h1>
    <ul>
        {% for super in all_supers %}
        <li><h2>{{super.name}}</h2>
        <a href="{% url 'SuperHeroes:detail' super.id %}">See more info</a> </li>
        {% endfor %}
    </ul>
    <ul>
        <li><a href="{% url 'SuperHeroes:create_new_super' %}">Create Super</a></li>
        <li><a href="{% url 'SuperHeroes:edit_super' %}">Edit Super</a></li>
    </ul>
</body>
</html>